[submodule "vendor/MYUtilities"]
	path = vendor/MYUtilities
	url = git://github.com/5b5/MYUtilities.git
[submodule "PocketSocket"]
	path = vendor/PocketSocket
	url = git://github.com/5b5/PocketSocket.git
